<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControllerServlet</servlet-name>
        <servlet-class>controller.HomeControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductControllerServlet</servlet-name>
        <servlet-class>controller.ProductControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountControllerServlet</servlet-name>
        <servlet-class>controller.AccountControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerControllerServlet</servlet-name>
        <servlet-class>controller.CustomerControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillControllerServlet</servlet-name>
        <servlet-class>controller.BillControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillDetailControllerServlet</servlet-name>
        <servlet-class>controller.BillDetailControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogControllerServlet</servlet-name>
        <servlet-class>controller.LogControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCartServlet</servlet-name>
        <servlet-class>controller.CheckCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControllerServlet</servlet-name>
        <url-pattern>/homeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductControllerServlet</servlet-name>
        <url-pattern>/productController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountControllerServlet</servlet-name>
        <url-pattern>/accountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerControllerServlet</servlet-name>
        <url-pattern>/customerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillControllerServlet</servlet-name>
        <url-pattern>/billController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillDetailControllerServlet</servlet-name>
        <url-pattern>/billDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogControllerServlet</servlet-name>
        <url-pattern>/logController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCartServlet</servlet-name>
        <url-pattern>/checkCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
